body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
}

.app {
  text-align: center;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightseagreen;
  color: white;
 padding: 0px 20px;
}

button {
  background: lightseagreen;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  background: darkcyan;
}

.add-btn{
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 2px;
  font-size: 16px;
  font-weight: 600;
}
.add-btn:hover{
background-color: transparent;
}

.cart-page {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  width: 500px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.cart-item {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.cart-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.cart-item li:last-child {
  border-bottom: none;
}

.cart-item button {
  color: #ff4d4d;
background-color: transparent;
font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cart-item button:hover {
  background-color: transparent;
  transform: scale(1.05);
}

h3 {
  text-align: center;
  margin-top: 15px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}


.product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.product-list p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* CartSummary  */

.cart-summary {
 width: auto;
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid #eee;
  background: #fafafa;
  border-radius: 8px;
 
}

.cart-summary h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.summary-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.total-amount {
  margin-top: 10px;
  background: #eaf7f7;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  color: #009caa;
  font-size: 18px;
}

.total-amount h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-amount span{
  display: flex;
  align-items: center;
}

